<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blind_chicken.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
				<key>dateExpires</key>
				<string>06.11.2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A83C8E1A5FEA2876762C2B4DB92E12858812186</string>
						<key>dateExpires</key>
						<string>06.11.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JACYF3LPQX</string>
						<key>name</key>
						<string>Alexey Galaktionov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JACYF3LPQX.com.slepayakurica.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JACYF3LPQX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4fc9bb2b-360f-4f33-a733-03b92362b1dc</string>
				<key>dateExpires</key>
				<string>06.11.2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.slepayakurica.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JACYF3LPQX</string>
				<key>name</key>
				<string>Alexey Galaktionov</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.0</string>
		</dict>
	</array>
</dict>
</plist>
